footer {
    width: 100%;
    text-align: center;
    padding: 2rem;
    font-family: var(--fontFamily);
    background: linear-gradient(transparent, rgba(255, 255, 255, 0.11));
}

footer h2 {
    font-size: 1.3rem;
}

#eu a {
    text-decoration: none;
    color: var(--colorDistaque);
}