header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #1A2526;
}
header h1 {
    color: var(--colorDistaque);
    font: 3.3rem 'Syne Tactile', cursive;
    font-weight: 600;
    transition: all .5s;
    cursor: pointer;
}