#caixaReceptor {
    display: flex;
    background-color: #172026;
}


/*     
    btn

    background: linear-gradient( 45deg,#9be15d 0%,#00e3ae 100%);
    box-shadow: 0 4px 10px #ffe7ec!important 

*/