#contReceptor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    padding: 2rem;
    background-color: #D9D9D9;
}

.caixaText {
    text-align: center;
    margin-bottom: 1rem;
}

.caixaText h2, .caixaText p {
    font-family: var(--fontFamily);
    color: #000;
}

.caixaText p {
    width: 60%;
    margin: 10px auto;
    font-size: 1.3rem;
}

.areaURLS {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.caixaInputs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.caixaInputs input {
    width: 90%;
    height: 4rem;
    padding-left: 15px;
    outline: none;
    border: 1px solid #000;
    border-radius: 8px;
    font-size: 1.2rem;
    font-family: var(--fontFamily);
    color: #000;
    background: transparent;
}

.caixaInputs #textcopy {
    width: 40%;
    font-weight: bolder;
    color: #03A696;
}

#alerta {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #FF0000;
}

.caixaInputs input::placeholder {
    color: #000;
}

.caixaInputs button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    padding: 18px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 800;
    font-family: var(--fontFamily);
    cursor: pointer;
    transition: all .4s;
    color: #000000;
    background: var(--colorDistaque);

}

.caixaInputs button:hover {
    filter: drop-shadow(0 0 5px #03A696);
}

@media (max-width: 768px) {
    #contReceptor {
        padding: 1rem;
    }
    .caixaInputs {
        flex-direction: column;
    }
    #textURL, #textcopy {
        width: 100% !important;
        height: 3.3rem;
    }
}

@media(max-width: 425px) {
    .caixaText p {
        margin: 0;
        width: 100%;
        font-size: 1rem;
    }
}