#caixaReceptor {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: #172026;
    padding: 4rem;
}

#caixaReceptor input {
    width: 95%;
    height: 4rem;
    padding-left: 15px;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-family: var(--fontFamily);
}

#caixaReceptor input::placeholder {
    color: #000;
}

#caixaReceptor button {
    padding: 0 2rem 0 2rem;
    border: none;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 800;
    font-family: var(--fontFamily);
    cursor: pointer;
    transition: all .4s;
    color: #f2f2f2;
    background: linear-gradient(90deg, rgba(3,166,120,1) 0%, rgba(2,115,94,1) 35%, rgba(1,64,64,1) 100%);
}

#caixaReceptor button:hover {
    filter: drop-shadow(0 0 5px #03A696);
}
/*     
    btn

    background: linear-gradient( 45deg,#9be15d 0%,#00e3ae 100%);
    box-shadow: 0 4px 10px #ffe7ec!important 

*/